= selected_link "Profile", brands_me_path, "brands/me"
= selected_link "Products", brands_products_path, "brands/products"
= selected_link "Reviews", brands_reviews_path, "brands/reviews"
= selected_link "Invites", brands_invites_path, "brands/invites"

/ Sign out
= link_to "Sign Out", destroy_brand_session_path, :id => "sign-out", :method => :delete