.row
  .span3
    .control-group.string.optional
      .controls
        %input.string.optional{type: "text", placeholder: "Email", name: "topic[email_shares_attributes][{{count}}[with]"}
  .span2.add-email-link
    %a.btn.btn-red{href: "javascript:void(0);"}
      Add Email
