= javascript_tag "Mightbuy.initialTags = #{@topic.tag_array}"

.show-topic.prel
  .row.topic-links.ptop30

  .row.mtop50.mbot30
    = render :partial => "topics/topic_detail"

  = render partial: "email_shares/emails_form", locals: { topic: @topic, remote: false }
