.flash-notice.fixed-top
  - unless flash[:notice].blank? && flash[:error].blank? && flash[:alert].blank?
    .alert.alert-flash.fade.in{ class: flash[:notice].blank? ? "alert-error" : "alert-success" }
      %button{type: "button", class: "close", :"data-dismiss" => "alert"}
        ×
      .container
        .row
          %strong
            = flash[:notice] unless flash[:notice].blank?
            = flash[:error]  unless flash[:error].blank?
            = flash[:alert]  unless flash[:alert].blank?
