.footer
  .row
    .span10
      %ul.footer-links
        %li= link_to("About Us", page_path("about"))
        %li How it Works
        %li Contact Us
        %li Jobs
        %li Privacy Policy
        %li Terms of Use
        %li= link_to("Blog", "http://blog.mightbuy.it")
        %li Help
    .span2
      .prizzm-inc
        &copy; 2012 Prizzm, Inc.
