- if current_user
  .mtop40
  .avatar
    = image_tag(avatar_image)
  .mbot10

  .profile-actions
    .edit-profile
      = link_to "Edit Profile", edit_profile_path
    .logout
      = link_to "Sign out", destroy_user_session_path, :method => :delete
