= javascript_tag "Mightbuy.selectedMainTab = '#{@selected_tab}'"
= javascript_tag "Mightbuy.suggestedTags = #{popular_tag_array}"
.row
  .span10
    %ul.nav.nav-tabs.topic-tabs
      %li{'tab-name' => "mightbuy"}
        %a{:href => profile_path }
          I MightBuy
      %li{'tab-name' => "ihave"}
        %a{:href => haves_path}
          I Have
      %li{'tab-name' => "everybody"}
        %a{:href => topics_path}
          Browse
      / %li.add-an-item-btn
      /   %a{:href => topics_path}
      /     %i.icon-plus-sign.icon-white
      /    Add an item
      %li.add-an-item-drop
        %ul.nav.nav-pills.pull-right
          %li.dropdown
            %a#drop5.dropdown-toggle.btn.btn-red{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.icon-plus-sign.icon-white
              Add an item
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop5", :role => "menu"}
              %li
                %a{:href => "#", :tabindex => "-1"}
                  %i.icon-plus
                  Add to Might buy
              %li.divider
              %li
                %a{:href => "#", :tabindex => "-1"}
                  %i.icon-plus
                  Add to have