= form.input :product_id, :as => :select, :collection => current_brand.products, :label => "For Product", :include_blank => "Select One"
= form.input :email, :label => "Email Address", :hint => "Enter the email address of the person you'd like to invite."