.share-topic-link
  Ask Friends - should you buy it?

  %ul.horizontal-list.mtop20
    %li
      = link_to new_topic_email_share_path(topic) do
        .email-icon

    %li
      = link_to "javascript:void(0);", "data-tweet-intent" => twitter_url(topic), class: "tweet-topic" do
        .twitter-icon

    %li
      - if current_user.hasFacebook?
        = link_to social_ask_facebook_path(topic.shortcode), remote: true do
          .facebook-icon{id: topic.recommended_by?(current_user) ? "recommended" : ""}
      - else
        = link_to user_omniauth_authorize_path(:facebook) do
          .facebook-icon
  .clear
