.share-topic-link
  Ask Friends - should you buy it?

  %ul.horizontal-list.mtop20
    %li
      = link_to new_topic_email_share_path(topic) do
        .email-icon

    %li
      = link_to "javascript:void(0);", "data-tweet-intent" => twitter_url(topic), class: "tweet-topic" do
        .twitter-icon

    %li
      = link_to "javascript:void(0);", facebook_data_params(topic).merge(class: "like-topic") do
        .facebook-icon
  .clear
