#details
  %ol.list.topics
    .row
      .add-topic-link
        = link_to("Add an item", new_topic_path("topic[status]" => "ihave"), :class=>"btn btn-red")
    .row
      = render partial: "topics/topic", collection: @topics
