%div#details
  .row
    .span5
      .topic-form-wrapper
        = simple_form_for @topic do |form|
          = render "/topics/forms/default", :form => form
          .buttons
            = form.button :submit, "Save!"
    .span5
      wow man
