%meta{ name: 'apple-itunes-app', content: 'app-id=548123429' }

- if topic
  %meta{ name: 'og:title', content: topic.product.name}
  %meta{ name: 'og:description', content: topic.body}
  %meta{ name: 'og:image', content: root_url[0...-1] + topic_image(topic)}
  %meta{ name: 'og:url', content: topic_url(topic)}

%meta{ name: 'og:site_name', content: 'MightBuy.it' }
