.activity-feed
  - if @timeline_events.blank?
    There are no activities to display.
  - else
    %ul
      - @timeline_events.each do |timeline_event|
        - if valid_activity?(timeline_event)
          %li
            = timeline_event.activity_line

          

