.footer
  .row
    .span12
      .bevel-line.mbot20
  .row
    .span10
      %ul.footer-links
        %li= link_to("About Us", about_path)
        %li How it Works
        %li Contact Us
        %li Jobs
        %li Privacy Policy
        %li Terms of Use
        %li= link_to("Blog", "http://blog.mightbuy.it")
        %li Help
    .span2
      .prizzm-inc
        &copy; 2012 Prizzm, Inc.
