= form.input :name, :label => "Brand Name"
= form.input :logo, :as => :file, :label => "Your Logo"

h1 Social Details

= form.input :social_url, :label => "URL"
= form.input :social_title, :label => "Title"
= form.input :social_desc, :label => "Description"