/* Mixins */
@import "mixins";

/* Sections */

#app
{
  #points
  {
    cursor: pointer;
  }
  
  ol.topics,
  ol.users
  {
    li
    {
      .title
      {
        margin: 8px 0px;
      }
      
      .notes
      {
        color: #999;
        font-size: 12px;
      }
    }
  }
}

#app
{
  
  ol.responses.highlight
  {
//    padding: 15px;
//    background: #ffd;
//    border: 1px dashed #ee9;
    
    li
    {
      margin: 0px;
      padding-bottom: 0px;
    }
    
    .actions
    {
      margin-left: 45px;
    }
    
    h3 span
    {
      background: #ffd;
    }
  }
  
  ol.responses
  {
    li
    {
      overflow: visible;
      position: relative;
      
      margin-top: 15px;
      min-height: 65px;
      padding-left: 75px;
      padding-bottom: 15px;
      
      a.image
      {
        position: absolute;
        left: 0px;
      }
      
      .message
      {
        padding: 0px;
        margin-bottom: 0px;
        color: #444;
        font-size: 16px;
        line-height: 1.8em;
      }
      
      .quoted
      {
        color: #333;
        font-size: 14px;
        line-height: 1.5em;
        font-style: italic;
        
        &:hover 
        {
          color: #d02664;
        }
      }
      
      .recommend-type
      {
        margin: 10px 0px;
        
        span
        {
          text-indent: 28px;
          font-weight: bold;
          font-size: 12px;
          padding: 3px 10px;
          @include rounded-corners(3px);
          
          &.recommend { background-color: #e2efcc; }
          &.undecided { background-color: #ffc; }
          &.not_recommended { background-color: #fcc; }
        }
      }
      
      .notes
      {
        margin: 5px 0px;
        font-size: 12px;
        color: #666;
      }
      
      .social
      {
        /*position: absolute;*/
		/*left: 3px;*/
		height: 20px;
        border-top: 5px dashed #ddd;
        padding-top: 20px;
        margin: 10px 0px 0px 0px;
        
        .recommend, .tweet, .points-with-desc
        {
          float: left;
          margin-right: 8px;
        }
        
      }
    }
  }
  
  #reply-form
  {
    .text
    {
      margin-right: 20px;
      
      textarea
      {
        width: 100%;
        height: 70px;
      }
    }
  }
}

.topics-section.show-page
{
  #app
  {
    #frame .header .image
    {
      box-shadow:         none;
      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
    }
    
    .header
    {
      .notes
      {
        color: #999;
        font-size: 12px;
      }
    }
    
    form.response
    {
      textarea.text
      {
        width: 600px;
        height: 120px;
      }
      
      .boolean
      {
        margin-left: 0px;
      }
      
    }
    
    .buttons
    {
      margin: 10px 0px;
    }
    
  }
    
}

.users-section.show-page
{
  #app #details .header
  {
    .attrs
    {
      .attr
      {
        margin: 5px 0px;
        padding: 0px;
        background: none;
        
        label
        {
          display: inline;
          position: static;
          font-weight: bold;
          font-size: 11px;
        }
      }
    }
  }
}

#app
{
  form .add_fields
  {
    font-size: 13px;
    margin-left: 140px;
  }
  
  .nested-fields
  {
    position: relative;
    
    a.remove_fields
    {
      position: absolute;
      top: 8px;
      right: 3px;
      width: 18px;
      height: 18px;
      overflow: hidden;
      text-indent: -9999em;
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter:alpha(opacity=50);
      background: url("/images/app/delete.png") no-repeat center;
      
      &:hover
      {
        opacity: 1.0;
        -moz-opacity: 1.0;
        filter:alpha(opacity=100);
      }
    }
    
  }
}

#app
{
  ol.shares
  {
    .share
    {
      text-indent: 25px;
      background: url("/images/icons/email.png");
      background-repeat: no-repeat;
      background-position: left middle;
      
      &.email     { background-image: url("/images/icons/email.png"); }
      &.tweet     { background-image: url("/images/icons/twitter.png"); } 
      &.recommend { background-image: url("/images/icons/facebook.png"); }
    }
  }
}

#app
{
  .brand-welcome, .user-welcome
  {
    p
    {
      margin: 10px 0px;
    }
    
    a
    {
      @include font-museo(500);
      font-size: 18px;
    }
  }
}

#app
{
  .image-selector-uploader
  {
    position: relative;
    height: 120px;
    padding-left: 140px;
    
    .image-holder
    {
      position: absolute;
      left: 20px;
      
      a.image
      {
        display: block;
        width: 90px;
        height: 90px;
        border: 3px solid #fff;
        @include drop-shadow(1px, 2px, 0.6);
        
        &.present
        {
          background: #fff;
        }
        
        img
        {
          max-width: 100%;
          max-height: 100%;
        }
      }
      
      .controls
      {
        width: 35px;
        margin: 5px auto;
      }
      
      .next, .prev
      {
        display: block;
        overflow: hidden;
        text-indent: -9999em;
        width: 16px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter:alpha(opacity=50);
        
        &:hover
        {
          opacity: 1.0;
          -moz-opacity: 1.0;
          filter:alpha(opacity=100);
        }
      }
      
      .next { float: right; background-image: url("/images/icons/next.png"); }
      .prev { float: left; background-image: url("/images/icons/previous.png"); }
    }
    
    label
    {
      display: block;
      margin: 5px 0px;
      color: #666;
      font-size: 12px;
    }
    
    .web
    {
      
      .field input
      {
        padding: 5px 10px;
        font-size: 16px;
        border: 1px solid #999;
        @include drop-shadow(1px, 2px, 0.2);
        float: left;
        width: 400px;
        margin-right: 5px;
      }
      
      .button
      {
        display: block;
        float: left;
        margin-top: 3px;
      }
    }
    
    .computer
    {
      label { margin-bottom: 10px; }

      .field
      {
        position: relative;
        
        .file
        {
          position: absolute;
          top: -5px;
          margin: 0px;
          height: 30px;
          width: 85px;
          overflow: hidden;
          
          input
          {
            cursor: pointer;
            height: 100%;
            width: 100%;
            @include opacity(0.0);
          }
        }
      }
    }
    
    .field
    {
      
      a.button
      {
        @include hover-button(#c5356a, darken(#c5356a, 5%));
        font-size: 12px;
        padding: 6px 8px;
      }
      
    }
  }
}

#app
{
  #respond
  {
    .recommendation
    {
      .recommend-or-not
      { 
        position: relative;
        margin: 10px 0px;
        height: 45px;
        
        a.button
        {
          position: absolute;
          line-height: 35px;
          padding: 0px 20px;
          
          img
          {
            position: relative;
            top: 7px;
            left: -4px;
          }
          
          &.undecided 
          { 
            left: 50%;
            width: 70px;
            margin-left: -70px;
            text-align: center;
            @include hover-button(#c4a53b, darken(#c4a53b, 5%)); 
          }
          
          &.recommended { 
            @include hover-button(#8fc43b, darken(#8fc43b, 5%)); 
          }
          
          &.not_recommended {
            right: 0px;
            @include hover-button(#c5356a, darken(#c5356a, 5%));
          }
          
          &.clicked
          {
            @include hover-button(#666, #333);
          }
        }
        
        a
        {
          line-height: 45px;
        }
      }
      
      .other-feedback
      {
        display: none;
      }
    }
    
    .group.footer
    {
      display: none;
    }
    
    .buttons
    {
      
      .left
      {
        float: left;
        
        a
        {
          font-size: 14px;
          margin-right: 10px;
        }
      }
      
      .right
      {
        float: right;
      }
      
      .bottom
      {
        position: absolute;
      	bottom: 5px;
      	left: 25px;
      }

    }
  }
  
  .register-for-beta
  {
    margin: 10px 0px;
    text-align: center;
    
    .content
    {
      float: right;
    }
    
    a
    {
      float: left;
      line-height: 35px;
      padding: 0px 30px;
      margin-right: 10px;
      @include hover-button(#c5356a, darken(#c5356a, 5%));
    }
    
    span.worth-points
    {
      margin: 7px 0px;
    }
    
    p
    {
      color: #999;
      float: left;
      line-height: 35px;
      font-size: 14px;
      margin-right: 15px;
    }
    
    .thanks
    {
      line-height: 35px;
      float: right;
      font-weight: bold;
      font-size: 14px;
      padding: 0px 20px;
      background-color: #e2efcc;
      @include rounded-corners(3px);
    }
  }
}

/* Sidebar */

#app
{
  #sidebar
  {
    .description
    {
      display: none;
      position: absolute;
      margin-left: -30px;
      line-height: 1.5em;
      font-size: 14px;
      width: 190px;

      p
      {
        margin: 15px 0px;
      }
      
      .small
      {
        color: #999;
        font-size: 12px;
        background: none;
      }
    }
  }
}

#fancybox-outer, #fancybox-content 
{
  @include rounded-corners(5px);
}

.popup
{
  width: 440px;
  
  h3
  {
    color: #fff;
    background: #e36032;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
    @include rounded-corners(5px);
  }
  
  p
  {
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 20px;
  }
  
  strong
  {
    font-weight: 500;
  }
  
  a.button
  {
    float: left;
    margin: 0px 20px 10px 20px;
    padding: 5px 15px;
    @include hover-button(#8fc43b, darken(#8fc43b, 5%)); 
  }
}

.tooltip .ui-tooltip-content
{
  text-align: center;
  
  h5
  {
    color: #ff2e7b;
    font-size: 14px;
    margin: 10px 0px;
  }
  
  p
  {
    margin: 10px 0px;
  }
}

.clearfix
{
  clear: both;
}