/* Imports */
@import "reset";
@import "mixins";
@import "globals";

/* Globals */

body
{
  font: 14px "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  background: #d5c6b3 url("/images/website/gradient.png") repeat-x;
}

/* Text Selection */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* Mixins */

@mixin hidden-text ()
{
  display: block;
  overflow: hidden;
  text-indent: -9999em;
}

@mixin block-with-image ($width, $height, $url)
{
  display: block;
  width: $width;
  height: $height;
  background: url($url);
}

@mixin dark-box ()
{
  @include background-gradient(#332c24, #221d18);
  @include drop-shadow(1px, 2px, 0.6);
}

/* Styles */

a:visited{
  color:blue;
}

#website
{
  
  a#logo
  {
    position: absolute;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    width: 116px;
    height: 107px;
    top: 15px;
    left: 20px;
    background: url("/images/website/logo.png");
  }
  
  #content
  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 990px;
    height: 525px;
    margin-top: -262px;
    margin-left: -495px;
    
    h1, h2
    {
      margin: 10px 0px;
    }
    
    h1
    {
      @include font-museo(700);
      font-size: 50px;
      letter-spacing: -1px;
      text-shadow:
        0px 1px #6D3F3D,
        0px 2px 4px rgba(0, 0, 0, 0.15);

      span
      {
        position: absolute;
        color: #b22525;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));  
      }
      
      &:after {
        color: #ff484e;
        content : 'MightBuy.';
      }
    }
    
    h2
    {
      @include font-museo(700);
      font-size: 22px;
      color: #46321B;
      text-shadow: 0px 1px #fff;
    }
    
    #switcher
    {
      position: absolute;
      top: 25px;
      right: 20px;
      line-height: 30px;
      
      a
      {
        font-size: 16px;
        color: #a59786;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 0px 1px #fff;
        
        &:hover
        {
          color: darken(#a59786, 15%);
        }
        
        &.active
        {
          color: #d9373a;
          font-size: 20px;
          font-weight: bold;
        }
      }
      
      span
      {
        color: #c5b9ac;
        margin: 0px 8px;
        font-size: 20px;
        text-shadow: -1px 0px #fff;
      }
      
    }
    
  }
  
  #sections
  {
    position: relative;
    height: 300px;
    margin: 30px 0px;
    
    #sliders
    {
      position: relative;
      overflow: hidden;
      width: 715px;
      height: 305px;
      
      .holder
      {
        width: 10000px;
        height: 100%;
      }
      
      .slide
      {
        float: left;
        margin-right: 20px;
        @include block-with-image(715px, 304px, "/images/website/splash.png");
        
        .margin
        {
          margin: 1px 2px 3px 2px;
        }
        
        .caption
        {
          @include block-with-image(257px, 300px, "/images/website/caption.png");
          position: absolute;
          z-index: 999;
          color: #fff;
          
          table
          {
            width: 240px;
            height: 300px;
            color: #fff;

            h3, p
            {
              width: 200px;
              margin: 10px auto;
              text-align: center;
              text-shadow: 0px 1px #000;
            }

            h3
            {
              font-size: 24px;
              @include font-museo(700);
            }

            p
            {
              font-size: 17px;
              color: #ddd;
              line-height: 1.5em;
            }
          }
        }
        
        img
        {
          float: right;
          @include rounded-corners(4px);
        }
      }
    }
  
    #forms
    {
      position: absolute;
      top: 0px;
      right: 0px;
      @include block-with-image(271px, 400px, "/images/website/forms_b.png");
      
      .badge
      {
        position: absolute;
        top: -45px;
        right: -70px;
        z-index: 9999;
        @include hidden-text();
        @include block-with-image(121px, 123px, "/images/website/badge.png");
      }

	  .socialogins
	  {
	    position: absolute;
        top: 195px;
	  }
      
      .string, .password
      { 
        margin-bottom: 5px;
        
        input
        {
          display: block;
          font-size: 12px;
          width: 230px;
          border: none;
          background: #fff;
          padding: 8px 5px;
          border: 1px solid #000;
          @include rounded-corners(3px);
          box-shadow:         0px 1px 0px #575451;
          -moz-box-shadow:    0px 1px 0px #575451;
          -webkit-box-shadow: 0px 1px 0px #575451;
          
          &.placeholder { color: #999; }
        }
      }
      
      input.button
      {
        border: none;
        height: 32px;
        line-height: 32px;
        padding: 0px 10px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: -1px;
        margin-top: 5px;
        cursor: pointer;
        @include rounded-corners(3px);
        @include background-gradient(#fc0, #f90);
        
        &:hover
        {
          @include background-gradient(lighten(#fc0, 15%), lighten(#f90, 10%));
        }
      }
      
      form
      {
        position: absolute;
        width: 240px;
      }
      
      form#signup
      {
        top: 12px;
        left: 14px;
        
        input.button
        {
          color: #593a1d;
          text-shadow: 0px 1px #ffcd66;
          float: right;
        }
      }
      

      form#login
      {
        top: 275px;
        left: 14px;
        
        .password
        {
          width: 163px;
          float: left;
        }
        
        .password
        {
          float: left;
        }
        
        input.button
        {
          position: absolute;
          right: -1px;
          bottom: 10px;
          color: #fff;
          width: 60px;
          text-shadow: 0px 1px #A2292A;
          @include background-gradient(#dc4346, #c42b2b);
          
          &:hover
          {
            @include background-gradient(#ff4e57, #c42b2b);
          }
        }
      }
      
    }
  
  }
  
  #markers
  {
    margin: 20px auto;
    text-align: center;

    a
    {
      @include hidden-text();
      @include block-with-image(18px, 18px, "/images/website/marker.png");
      display: inline-block;
      
      &.active, &:hover
      {
        margin: 0px 1px;
        background-position: 0px 18px;
      }
    }
  }
  
  #navigation
  {
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    color: #a09587;
    
    a, span { margin: 0px 5px; }
    
    a
    {
      color: #7c7369;
      text-decoration: none;
      &:hover { color: darken(#7c7369, 30%) };
    }
    
    
  }
  
  /* Shopper Styles */
  
  &.shoppers
  {
    #content
    {
      h1 
      { 
        &:after
        {
           content: "What do you recommend?"; 
        }
      }
    }
    
    #sections #forms
    {
      form#signup.beta_signup
      {
        top: 30px;
        
        h4
        {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0px;
          text-shadow: 0px 1px #000;
        }
        
        .thanks
        {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0px;
          text-align: center;
          line-height: 97px;
          text-shadow: 0px 1px #000;
        }
        
      }
    }
  }
  
  .clearfix
  {
    clear: both;
  }
}