%div#intro
  %p Mightbuy is for keeping track of things you might want to buy.
  %p Make sure to add the link:
  = link_to "MightBuy.it", bookmarklet_url, :onclick => "return false;"
  %p.bookmarklet-para
    to your browser bookmarks.
    Once added as a bookmark, you can use the bookmarklet on any web page, and it will add that page right into MightBuy it for you!
  %br
  %p
    %strong Some Features
  %p
    %ul
      %li Ask your friends, publish to your FB , Tiwtter, or via email accounts  get their opinion before buying something
      %li Drop subtle hints about the fabulous stuff others should give you as gifts
      %li Track price, and the price you’d be willing to pay
      %li Mobile shopping- access your list on your mobile phone, snap pictures of things you might buy.
  %p &ndash; And more to come!

