%div#intro
  %h1 Contact Us
  %p Prizzm, Inc is located in San Francisco, CA
  %p
    %strong Email:
    = mail_to "contact@prizzm.com"
  %p
    %strong Call:
    (415) 577-3411

  %p
    %strong Address:
    %p 653 5th Avenue <br />San Francisco, CA 94118
