%div#intro
  %h1 Jobs
  %h2 Software Engineer
  %p
    Fullstack developer with design skills - expert with Rails, Javascript, CSS	 -
    you should be able to prototype Prizzm based on the description in this About page
    lickety split. If so - contact us!