%div#intro
  %h1 Terms of Use

  %p 
    When you create a MightBuy profile, you grant license to MightBuy to display content, including advertisements and offers to you based on your stated preferences - if you actively choose to look at the content. The license you grant is transactional: you allow a program such as mightbuy.it or a web partner who implements the MightBuy API, to display content at the time you ask for it, but your  data will never be used to give you an advertisement at a time that you don’t ask for it (such as email spam, junkmail, or selling data to partners for non transactional use).
