var response = $(<%= e(render(resource)) %>);
var promotion = $(<%= e(render("join")) %>);

$('.group.respond').slideUp(300, function () {
  $(this).empty();
  $('<h3 id="comments" />').append("<span>Here's what you said..</span>").appendTo($(this));
  $('<ol class="list responses" />').append(response).appendTo($(this));
  $(this).append(promotion);
  $(this).slideDown(300);
});