.topic-recommend
  %h4 Recommend this item?
  %ul.horizontal-list.mtop20
    %li
      = link_to recommend_topic_path(topic, recommend: "yes"), method: :put, remote: true do
        .topic-recommend-yes-icon{id: topic.recommendable? ? "topic-recommend-yes" : ""}
    %li
      = link_to recommend_topic_path(topic, recommend: "no"), method: :put, remote: true do
        .topic-recommend-no-icon{id: topic.recommendable? ? "topic-recommend-no" : ""}

