#details
  - if @haves.empty?
    .have-item-instruction
      %h3.font-normal.muted You have not added anything to your Have list yet. Click button below to start adding.
      .a-center
        = link_to("Add an item", new_have_path, :class=>"btn btn-red")
    %h3.or
      %span or
    %ol.list.topics
      %h3.mleft40 Move to your "I have list"
      %li
        .row
          .span1.img-width
            %a.p-rel.mask-link{:href => "#"}
              %img{:alt => "icon", :height => "64", :src => "/assets/no_image.png", :width => "64"}
                %span.mask-64
          .span6
            .topic-title
              %a{:href => "#"} Item Title Goes Here 
            .mtop5
              %a{:href => "#", :target => "_blank"} http://www.linkoftheproducts.com/...
          .span2
            .price.mtop5
              $100.00
          .span8.dotted-border.mtop10.ptop10
          .span6
            %a.btn.btn-success.btn-mini.icn-plus
              %i
              %span I Bought it
              %span.clear
          .span2.pagination-right.raquo
            %a{:href => "#"} more

      / please remove this block of code from here
      %li
        .row
          .span1.img-width
            %a.p-rel.mask-link{:href => "#"}
              %img{:alt => "icon", :height => "64", :src => "/assets/no_image.png", :width => "64"}
                %span.mask-64
          .span6
            .topic-title
              %a{:href => "#"} Item Title Goes Here 
            .mtop5
              %a{:href => "#", :target => "_blank"} http://www.linkoftheproducts.com/...
          .span2
            .price.mtop5
              $100.00
          .span8.dotted-border.mtop10.ptop10
          .span6
            %a.btn.btn-success.btn-mini.icn-plus
              %i
              %span I Bought it
              %span.clear
          .span2.pagination-right.raquo
            %a{:href => "#"} more

      %li
        .row
          .span1.img-width
            %a.p-rel.mask-link{:href => "#"}
              %img{:alt => "icon", :height => "64", :src => "/assets/no_image.png", :width => "64"}
                %span.mask-64
          .span6
            .topic-title
              %a{:href => "#"} Item Title Goes Here 
            .mtop5
              %a{:href => "#", :target => "_blank"} http://www.linkoftheproducts.com/...
          .span2
            .price.mtop5
              $100.00
          .span8.dotted-border.mtop10.ptop10
          .span6
            %a.btn.btn-success.btn-mini.icn-plus
              %i
              %span I Bought it
              %span.clear
          .span2.pagination-right.raquo
            %a{:href => "#"} more

      / till here

  - else
    %ol.list.topics
      .row
        .add-topic-link
          = link_to("Add an item", new_have_path, :class=>"btn btn-red")
      = render partial: "have", collection: @haves
