#details
  - if @haves.empty?
    = render :partial => "empty_have"
  - else
    %a.btn.btn-red.add-item{:href => "/haves/new"}
      %i.icon-plus-sign.icon-white
      Add an item
    %ol.list.topics
      .row
        .add-topic-link.hide
          = link_to("Add an item", new_have_path, :class=>"btn btn-red")
      = render partial: "have", collection: @haves