#details
  - if @haves.empty?
    = render :partial => "empty_have"
  - else
    %ol.list.topics
      .row
        .add-topic-link
          = link_to("Add an item", new_have_path, :class=>"btn btn-red")
      = render partial: "have", collection: @haves
