#points-description.popup
  h3 You just earned some points!
  p 
    |<strong>Prizzm</strong> rewards you for your feedback & recommendations!

  p &bull; Spend <strong>points</strong> on exclusive offers, and even free/promotional items.
  p &bull; Earn more than <strong>200 points</strong>, an you will receive <strong><u>total consciousness</u></strong>*
  p
    |*... which is nice... but points are mainly for fun, <strong>your honest feedback</strong> is <u>fo' real</u>, and <strong>appreciated</strong>. 
  p
	|Prizzm is in invite-only beta currently. After giving feedback - <strong>make sure</strong> to get on Prizzm beta list to redeem your points. Totally optional though, you can give feedback without registering.
    
  = link_to "Okay!", "javascript:$.fancybox.close();", :class => "button close"
  
