= heading "Details"

= form.input :subject, :label => "Name", :hint => "E.x. What do you think of our new logo?"
= form.input :url, :label => "URL", :hint => "Paste URL - or search google for  <name>", :wrapper_html => { :class => "string" }, :wrapper => :append \
    do \
      form.input_field(:url) + \
      link_to(image_tag("/images/app/search-icon.png", :style => "padding:0px;vertical-align:middle;max-height:16px;"), "#", style: "display:inline-block;margin-left:-24px;padding:3px;", :id => "item_url_search") \
    end
= form.input :price, :label => "Price $", :hint => "Price - as listed"
= form.input :offer, :label => "Offer $", :hint => "What price would you buy it now for?"
= form.input :body, :label => "Notes", :hint => "Details on the item, or notes of why you want it"


= heading "Image"
= render "partials/image_selector_input", :form => form, :field => :image


/= form.input :recommendable, :label => "Recommendations", :hint => "Would you like users to be able to recommend this?", :as => :radio



/= form.input :share_title, :label => "Title", :hint => "When shared on facebook or twitter, what should the title be?"
/	= form.input :access, :label => "Who can view?", :collection => Topic::Access, :as => :radio
= form.input :access, :label => "Who can view?", :collection => Topic::Access, :as => :hidden , :input_html => { :value => "private" }
= form.input :recommendable, :as => :hidden, :input_html => { :value => 1 }
= form.input :form, :as=> :hidden, :input_html => { :value => "recommendation" }
