.logged_user {
  font-family: Museo500;
  margin-top: 20px;
}

body {
  background-color: #e5d6c6;
}
p.caption {
  font-size: 1.7em;
  margin-top:  5px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.clear {
  clear: both;
}

div.bookmarklet-help {
  margin-top: -7px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}


.logged-user-header {
  margin-bottom: 10px;
}

.profile-actions {
  .edit-profile{
    margin-bottom: 5px;
    background: url("/assets/edit_profile.png") no-repeat 5px 1px;
    padding-left: 35px;
  }

  .logout {
    background: url("/assets/sign_out.png") no-repeat 5px 1px;
    padding-left: 35px;
    margin-top: 10px;
  }

  .edit-profile, .logout {
    a {
      color: #4e3227;
    }
  }
}

.avatar {
  border: 4px solid #D4C7BE;
  height: 110px;
  width: 110px;

  display: table-cell;
  vertical-align: middle;

  img {
    display: block;
    margin: auto;
  }
}

.app-content {
  margin-top: 38px;
}

.topic-tabs {
  li {
    width: 150px;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 6px;
    margin-left: 3px;
    background: #df646c; /* Old browsers */
    background: -moz-linear-gradient(top, #df646c 0%, #aa383c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df646c), color-stop(100%, #aa383c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #df646c 0%, #aa383c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #df646c 0%, #aa383c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #df646c 0%, #aa383c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #df646c 0%, #aa383c 100%); /* W3C */
    a {
      font-size: 1.1em;
      color: #fff;
    }
    a:hover {
      color: #4e3227;
    }
  }
  li.active {
    background: #fff;
  }
  li:hover {
    background: #fff;
  }
  margin-left: -4px;
  margin-bottom: 0px;
}

.topic-tabs li.active a {
  border: 1px solid #fff;
  border-bottom-color: transparent;
}

.topic-tabs li a:hover {
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-color: transparent;
}

.topic-tabs li.active a:hover {
  border: 1px solid #fff;
  border-bottom-color: transparent;
}

#details {
  background: #fff;
  border-top-right-radius: 10px;
  margin-left: -1px;
}

ol.topics {
  padding-top: 50px;
  li {
    display: block;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 98%;
  }
  .topic-title {
    font-size: 1.3em;
    font-weight: bold;
    a {
      color: #4e3227;
    }
  }
  .topic-url {
    margin-top: 10px;
  }
  .topic-description {
    margin-left: 10px;
  }

  .topic-listing-tag {
    margin: 10px 0px 10px 0px;
  }

  .topic-meta > span{
      color: #ABABAB;
  }
  div.price {
    margin-top: 30px;
    color: #879d6c;
    float:right;
    font-size: 2.8em;
  }
}
.span2.item-list-image {
  img {
    border: 1px solid #d1d1d1;
    padding: 5px;
  }
}

.topic-actions{
  float: right;
  margin-bottom: 20px;
}

.topic-list-actions {
  margin-top: 10px;
}
