.logged_user {
  font-family: Museo500;
  margin-top: 20px;
}

body {
  background-color: #e5d6c6;
}
p.caption {
  font-size: 1.7em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.clear {
  clear: both;
}


