// Place all the styles related for all global definitions here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "style";

@font-face {
  font-family: Museo500;
  src: font-url("Museo500-Regular.otf");
}

@font-face {
  font-family: Museo700;
  src: font-url("Museo700-Regular.otf");
}
.modal-header{
  background:#e5d6c6;
  @include border-radius(6px 6px 0 0);
}
.header {
  font-family: Museo700;

  #mightbuy-logo {
    margin-top: 60px;
  }

  .caption {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 300;
    color: #4E3227;
    text-shadow: 1px 2px 0px #FCF8F5;
  }
}

.footer {
  font-family: Museo500;
  font-size: 12px;
  margin-bottom: 30px;
  color: #4E3227;
  .footer-links {
    list-style: none;
    margin-left: 0px;

    li {
      display: inline;
      padding: 0px 5px;
      border-right: 1px solid #6B5244;

      &:last-child {
        border-right: none;
      }

      a {
        text-decoration: none;
        color: #4E3227;
      }
    }
  }

  .prizzm-inc {
    float: right;
  }
}

#ajax-loading {
  display: none;
  position: fixed;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid black;
  border-top: none;
  margin: -20px 50%;
  padding: 5px;
  width: 90px;
  background-color: white;
  top: 20px;
  z-index: 1060;

  span {
    margin: auto 5px;
  }
}

.bevel-line {
  border-top: 1px solid #C1B4AB;
  border-bottom: 1px solid #F2EAE2;
}

.bevel-line-vertical-right {
  border-right: 1px solid #C1B4AB;
  outline-right: 1px solid #F2EAE2;
}

.bevel-line-vertical-left {
  border-left: 1px solid #C1B4AB;
  outline-left: 1px solid #F2EAE2;
}

.horizontal-list {
  list-style: none;
  margin: 0px;

  li {
    float: left;
  }
}

.alert-flash {
  color: #fff;
  text-shadow: none;
  text-align: center;
  font-family: Museo500;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

.alert-error {
  @include bg-reddish;
  color: white;
}

.alert-success {
  @include bg-greenish;
}

.fleft  { float: left; }
.fright { float: right; }

.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
}

.prel{position:relative}
.mtop1 { margin-top: 1px; }
.a-right{text-align:right}
.mtop5  { margin-top: 5px;  }
.mtop10 { margin-top: 10px; }
.mtop15 { margin-top: 15px; }
.mtop25 { margin-top: 25px; }
.mtop35 { margin-top: 35px; }
.mtop60 { margin-top: 60px; }
.mleft10 { margin-left: 10px; }
.mleft20 { margin-left: 20px; }
.mleft30 { margin-left: 30px; }
.mleft40 { margin-left: 40px; }
.mleft60 { margin-left: 60px; }
.mright10 { margin-right: 10px }
.mright40 { margin-right: 40px }
.mbot10 { margin-bottom: 10px; }
.mbot15 { margin-bottom: 15px; }
.mbot20 { margin-bottom: 20px; }
.mbot30 { margin-bottom: 30px; }
.mtop20 { margin-top: 20px; }
.mtop25 { margin-top: 25px; }
.mtop40 { margin-top: 40px; }
.mtop60 { margin-top: 60px; }
.mtop50 { margin-top: 50px; }
.ptop3 { padding-top: 3px; }
.pall5{padding:5px}
.ptop5 { padding-top: 5px; }
.ptop10 { padding-top: 10px; }
.ptop25 { padding-top: 25px; }
.ptop30 { padding-top: 30px; }
.ptop40 { padding-top: 40px; }
.ptop60 { padding-top: 60px; }
.pbot30 { padding-bottom: 30px; }
.pleft20 { padding-left: 20px;}
.pright20 { padding-right: 20px;}
.pright40 { padding-right: 40px;}
.pleft25 { padding-left: 25px; }
.pleft40 { padding-left: 40px; }
.width90p { width: 90%; }
.mright20 { margin-right: 20px; }
.width40{width:40%;float:left}
.width60{width:60%;float:left}
.min-height120{min-height:120px}

.flash-notice {
  z-index: 1050;
}

.msg{
  margin:50px 0 20px 0;
  color:#666 !important
}

.bor-right{
  border-right:1px solid #ccc;
}

.hr{
  border-top-color:#ccc
}

#login-lightbox {

  font-family: Museo500;
  
  .caption {
    color: #4E3227;
    text-align: center;
    line-height: 120%;
    font-size: 22px;
    font-weight: bold;
    margin: 50px 0 60px 0;
    text-shadow: 1px 2px 0 #fff;
  }
  
  p {
    color: #4E3227;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  label {
    font-size: 15px;
    color: #4E3227;
    margin-bottom: 3px;
    text-align: left;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="password"]{
    width:330px;
  }
  
  a{
    color:#b84349
  }
  
  .user-signin-form-submit{
    margin: 0 40px 0 0;
  }
  
  .new-user-form-submit{
    margin: 20px 40px 0 0;
  }
  
  .mright40{
    margin: 0 34px 0 0;
  }
    
  .control-group {
    margin-bottom: 0;
  }
  
  .font18{
    font-size:18px;
    font-weight: bold;
  }
  
  .col-right{
    border-left: 1px #CCC solid;
    padding: 0 0 0 55px;
    margin-bottom: 50px;
  }
  
  .mtop-rightcol{
    margin-top:15px;
  }
  
  .mtop-leftcol{
    margin-top: 75px;
  }
}

.well-small{
  padding:2px 10px;
  margin-bottom:0 !important
}

.raquo a{
  text-decoration:none;
}

.raquo a:after{
content:"\00bb";
position:relative;
top:2px;
font-size:20px;
}

.have-item-instruction{
  padding:70px 0 50px 0;
  margin:0 auto;
  width:430px;

  .a-center{
    text-align:center
  }
}

.have-item-instruction h3, h3.or{
  font-weight:normal;
  margin-bottom: 30px;
  color:#666;
}

h3.or{
  text-align:center;
  position:relative;
  margin:0 40px 0 40px;
  
  span{
    background-color: white;
    position: relative;
    padding: 0 15px;
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    left: 0;
    top: 15px;
    z-index: 0;
  }
}

.img-width img{
  width:64px;
  max-width:none;
}

ol.topics div.price.mtop5{
  margin:5px 0 0 0;
  line-height:100%;
}

.icn-plus{

  i, span{
    display: inline-block;
    line-height: 9px;
  }
  
  span{
    margin-top:4px;
  }

  i{
    background:image-url('icn-plus.png') 0 0 no-repeat;
    width: 9px;
    height: 9px;
    vertical-align: text-top;
    margin-top:2px;
    margin-right:2px;
  }
}


@mixin brand-btn {
  color: #fff;
  @include gradient(#e26b71, #aa373c);
  @include text-shadow(none);
  border-style: solid;
  border-width: 1px; 
  border-color: #cd383e #ba2f34 #a9262c #ba2f34;
}

.btn-red, .remove_fields, .add_fields {
  @include brand-btn;
  text-decoration:none;
  font:15px/100% 'Museo500', arial;
  @include border-radius(5px);
  padding: 8px 10px;
  min-width:60px;
}

.btn-red:hover, .btn-red:active, .btn-red.active, .btn-red.disabled, .btn-red[disabled],
.remove_fields:hover, .remove_fields:active, .remove_fields.active, .remove_fields.disabled, .remove_fields[disabled],
.add_fields:hover, .add_fields:active, .add_fields.active, .add_fields.disabled,.add_fields[disabled] {
  text-decoration:none;
  @include gradient(#bf3c42, #841c21);
  @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
  border:1px solid #b73d44;
  color:#fff;
}

.btn-red:active,
.remove_fields:active,  
.add_fields:active {
  background: #841c21;
}

.btn-green {
  color: #4d6126;
  border-style: solid;
  border-width: 1px; 
  @include gradient(#c3d4a8, #90af6b);
  border-color: #819a59 #829857 #839959 #829857;
  text-decoration:none;
  font:15px/100% 'Museo500', arial;
  @include border-radius(5px);
  padding: 8px 10px;
  min-width:60px;
}

.btn-green:hover, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled]{
  text-decoration:none;
  @include gradient(#acbd86, #728d58);
  border-color: #6e883f #6f8940 #6e883e #6f8940;
  @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
}

.btn-green:active{
  background: #819a59;
}

.btn-red.small, .btn-red.btn-small, .btn-green.btn-small, .btn-small {
  padding: 5px 10px;
  font-size: 13px;
  line-height:100%;
  @include text-shadow(0 1px 0 0 rgba(0,0,0,0.5));
  
  i.mtop1{
    margin-top:1px
  }
  i.mtop0{
    margin-top:0
  }
}

.btn-green.btn-small, .btn-success.btn-small {
  padding: 5px 10px 6px 10px;
}


.btn-red-large, .btn-red-l{
  position:absolute;
  right:40px;
  bottom:90px;
}
.btn-red-large, .btn-red-l, .btn-red-big{
  
  .btn {
    @include brand-btn;
    font:300 23px/1 'Museo500', arial;
    text-transform: uppercase;
    min-width: 120px;
  }
  
}

.btn-red-large.w115 .btn{ width:115px}

.btn-red-large, .btn-red-l, .btn-red-big, .remove_fields, #share-list a{ 
  
  .btn {
    @include brand-btn;
    font:normal 16px/1 'Museo500', arial;
    padding: 8px 11px 9px 11px;
    display: block;
    min-width: 70px;
  }
  
  .btn:hover,
  .btn:active,
  .btn.active,
  .btn.disabled,
  .btn[disabled] {
    @include gradient(#bf3c42, #841c21);
    @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
    border:1px solid #b73d44;
    color:#fff;
  }
  
  .btn:active,
  .btn.active {
    background: #841c21;
  }  
}
.btn-red-l{
  position:static;
}

@import 'topic_search/image_selector';

.public-search-result-scraper-info .image-selector .image-holder .cancel {
  margin-right: 0
}
  
.public-search-result-scraper-info .image-selector{
  position:static
}
  
.public-search-result-scraper-info .image-selector .reset-btn {
  margin: 0 0 20px 0;
  position: absolute;
  top: -54px;
  left: 481px;
}

.vote-yes,
.vote-no,
.topic-vote-yes-icon,
.topic-vote-no-icon,
.topic-recommend-yes-icon,
.topic-recommend-no-icon,
#topic-recommended,
#topic-not-recommended {
  background: image-url('sprite-yes-no.png') 0 0 no-repeat;
}
.vote-icons {
  .vote-yes, .vote-no{
    float: left;
    width: 62px;
    height:21px;
    cursor: pointer;
  }
  .vote-yes {
    width: 63px;
    background-position:-1px -1px;
  }
  .vote-yes.checked{
    background-position:-1px -25px;
  }
  
  .vote-no{
    background-position:-64px -1px;
  }
  
  .vote-no.checked{
    background-position:-64px -25px;
  }
}

.topic-vote-yes-icon,
.topic-vote-no-icon,
.topic-recommend-yes-icon,
.topic-recommend-no-icon,
#topic-recommended,
#topic-not-recommended,
#topic-voted-yes,
#topic-voted-no {
  width: 88px;
  height: 29px;
}

.topic-vote-yes-icon, .topic-recommend-yes-icon, #topic-recommended, #topic-voted-yes {
  width: 89px;
}

.topic-vote-yes-icon, .topic-recommend-yes-icon {
  background-position:-1px -49px;
}

.topic-vote-no-icon, .topic-recommend-no-icon {
  background-position:-1px -113px;
}

#topic-recommended, #topic-voted-yes {
  background-position:-1px -81px;
}

#topic-not-recommended, #topic-voted-no {
  background-position:-1px -145px;
}

ul.tagit{

 li{
    margin: 2px 7px 2px 0;
  }
  li.tagit-choice{
    border: 1px solid #CCC !important;
    padding: 2px 20px 3px 25px;
    position:relative;
    color: #806459;
    
    &:after{
      position:absolute;
      content:"";
      width:20px;
      height:25px;
      background-image: image-url('glyphicons-halflings.png');
      background-position: 0 -48px;
      top: 5px;
      left: 5px;
      z-index:10;
    }
    
    a.tagit-close {
      padding: 2px 5px 2px 3px;
      line-height: 9px;
      right: -2px;
      visibility:hidden
    }
    
    &:hover{
      a.tagit-close {
        visibility:visible
      }
    }
  }
  li.ui-state-error.selected{
    background: #900;
    color: white;
    
    &:after{
      background-image: image-url('glyphicons-halflings-white.png');
    }
    
    a.tagit-close {
      color: #fff;
      @include text-shadow(none);
    }
  }
  input[type="text"]{
    background-color: white;
    @include border-radius(3px);
    border: 1px solid #CCC !important;
    padding: 1px 5px 2px 5px !important;
    @include box-shadow(0 0 0 4px #F6F3EE);
  }
}

.ui-autocomplete{
  @include border-radius(3px);
  
  li.ui-menu-item {
    padding: 0;
    margin: 0;
    
    a{    
      padding: 5px;
      color:#806459;
      border:none;
      border-bottom:1px solid #ccc !important;
      @include border-radius(0);
    }
    a.ui-state-hover, a.ui-state-active, a:hover{
      border:none;
      border-bottom:1px solid #ccc !important;
      background:#D4C7BE !important;
      margin:0;
    }
  }
}
/* -------------------------------------- */
.topic-tabs > li.add-an-item-btn{
  float: right;
  margin-right: 15px;
  height: 33px;
  width: 133px;
  margin-top: 11px;
  text-align: left;
}
.topic-tabs > li.add-an-item-btn > a{
  font-size: 15px;
  padding: 2px 0 0 10px;
}
/* -------------------------------------- */
.topic-tabs > li.add-an-item-drop{
  float: right;
  margin-right: 13px;
  height: 35px;
  width: 160px;
  margin-top: 9px;
  text-align:left;
  @include box-shadow(none);
}
.topic-tabs > li.add-an-item-drop a.dropdown-toggle{
  padding-bottom:5px;
  @include border-radius(5px 5px 0 0);
}
.topic-tabs > li.add-an-item-drop, .topic-tabs > li.add-an-item-drop:hover{
  background: none;
  border: none;
}
.topic-tabs > li.add-an-item-drop .nav-pills .dropdown-menu{
  padding:0;
}
.topic-tabs > li.add-an-item-drop .nav-pills .dropdown-menu li{
  margin:0;
}
