/* Global Styles */

table
{
  td { vertical-align: middle; }
}

.forgot-password-form {
  font-size: 20px;
  margin: 20px auto 20px auto;
  width: 80%;
  input[type=email] {
    height: 24px;
    margin-left: 20px;
    font-size: 20px;
  }

  input[type=submit] {
    font-size: 20px;
    margin-left: 72px;
    margin-top: 13px;
  }
}

.topic-go-link {
  display: inline-block;
  font-weight: Bold;
  text-decoration: none;
  text-align: center;
  width: 20px;
  margin-left: -31px;
  padding: 3px 4px;
  color: #eee;
  background-color: #666;
}


.bevel-line {
  border-top: 1px solid #C1B4AB;
  border-bottom: 1px solid #F2EAE2;
}

.mbot20 {
  margin-bottom: 20px;
}
