// Place all the styles related for all global definitions here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: Museo500;
  src: font-url("Museo500-Regular.otf");
}

@font-face {
  font-family: Museo700;
  src: font-url("Museo700-Regular.otf");
}

.header {
  font-family: Museo700;

  #mightbuy-logo {
    margin-top: 60px;
  }

  .caption {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 300;
    color: #4E3227;
    text-shadow: 1px 2px 0px #FCF8F5;
  }
}

.footer {
  font-family: Museo500;
  font-size: 12px;
  margin-bottom: 30px;
  color: #4E3227;
  padding-top: 20px;

  .footer-links {
    list-style: none;
    margin-left: 0px;

    li {
      display: inline;
      padding: 0px 5px;
      border-right: 1px solid #6B5244;

      &:last-child {
        border-right: none;
      }

      a {
        text-decoration: none;
        color: #4E3227;
      }
    }
  }

  .prizzm-inc {
    float: right;
  }
}


#ajax-loading {
  display: none;
  position: fixed;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid black;
  border-top: none;
  margin: -20px 50%;
  padding: 5px;
  width: 90px;

  span {
    margin: auto 5px;
  }
}


.bevel-line {
  border-top: 1px solid #C1B4AB;
  border-bottom: 1px solid #F2EAE2;
}

.bevel-line-vertical-right {
  border-right: 1px solid #C1B4AB;
  outline-right: 1px solid #F2EAE2;
}

.bevel-line-vertical-left {
  border-left: 1px solid #C1B4AB;
  outline-left: 1px solid #F2EAE2;
}


.horizontal-list {
  list-style: none;
  margin: 0px;

  li {
    float: left;
    margin: 0px 10px;

    &:first-child {
      margin-left: 0px;
    }
  }
}


.fleft  { float: left; }
.fright { float: right; }

.mtop10 { margin-top: 10px; }
.mtop15 { margin-top: 15px; }
.mtop25 { margin-top: 25px; }
.mtop35 { margin-top: 35px; }
.mtop60 { margin-top: 60px; }
.mleft30 { margin-left: 30px; }
.mleft40 { margin-left: 40px; }
.mright40 { margin-right: 40px }
.mbot10 { margin-bottom: 10px; }
.mbot15 { margin-bottom: 15px; }
.mbot20 { margin-bottom: 20px; }
.mbot30 { margin-bottom: 30px; }
.mtop20 { margin-top: 20px; }
.mtop25 { margin-top: 25px; }
.mtop40 { margin-top: 40px; }
.mtop50 { margin-top: 50px; }
.ptop25 { padding-top: 25px; }
.ptop30 { padding-top: 30px; }
.pleft40 { padding-left: 40px; }
