/* Compass */
@import "compass/reset";
@import "compass/typography";
@import "compass/css3";

/* Styles */

body {
  background: url("/assets/background.png");
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#app
{
  width: 640px;
  margin: 50px auto;
  
  #content
  {
    padding: 20px;
    background: #fff;
    overflow: hidden;
    @include border-radius(3px, 3px);
    @include single-box-shadow(#aaa, 0px, 1px, 2px);
  }
  
  // Header
  
  #header
  {
    position: relative;
    
    #brand
    {
      margin: 10px 0px 15px 0px;
      display: block;
      width: 136px;
      height: 65px;
      overflow: hidden;
      text-indent: -99999em;
      background: url("/assets/brand.png");
    }
    
    #links
    {
      position: absolute;
      top: 20px;
      left: 150px;
      right: 0px;
      
      overflow: hidden;
      margin: 10px 0px 5px 0px;
      padding-bottom: 5px;
      
      a
      {
        display: block;
        float: left;
        cursor: pointer;
        color: #999999;
        font-size: 13px;
        padding: 5px 10px;
        font-weight: bold;
        @include single-text-shadow(#fff, 0px, 1px, 0px);

        &:hover, &.selected
        {
          color: #C24352;
          background: none;
        }
      }
      
      a#sign-out
      {
        float: right;
      }
    }
  }
  
  // Footer
  
  #footer
  {
    overflow: hidden;
    line-height: 50px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 15px;
    font-size: 12px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(70, 70, 70, 0.1);
    border: 1px solid #cacaca;
    @include border-radius(3px, 3px);
    @include single-box-shadow(#cfcfcf, 0px, 1px, 1px);
    @include single-text-shadow(#f7f7f7, 0px, 1px, 0px);

    a, .copyright
    {
      color: #7E7E7E;
    }
    
    
    .copyright
    {
      float: left;
    }
    
    .links
    {
      float: right;
      
      a { margin: 0px 3px;}
      
      a:hover 
      { 
        color: #555;
        background: transparent;
      }
    }
  }
  
  // Links
  
  a
  {
    color: #307eb6;
    text-decoration: none;
    
    &:hover
    {
      color: #fff;
      background: #f06;
    }
  }
  
  // Titles
  
  h1
  {
    color: #333;
    margin: 15px 0px;
    font-weight: bold;
    font-size: 20px;
  }
  
  // Tables
  
  table.collection
  {
    margin: 10px 0px;
    width: 100%;
    
    th
    {
      color: #444;
      font-weight: bold;
      font-size: 12px;
      margin: 3px;
      border-bottom: 1px dotted #ddd;
    }
    
    th, td
    {
      padding: 8px 10px;
    }
    
    td
    {
      background: #f7f7f7;
      border-bottom: 1px dotted #ddd;
    }
    
    tr:nth-child(even) td
    {
      background: #efefef;
    }
    
    th.actions,
    td.actions
    {
      width: 120px;
      font-size: 12px;
      
      a { margin: 0px 1px; }
    }
    
  }
  
  //  Lists
  .empty
  {
    color: #666;
    padding: 5px 8px;
    background: #f7f7f7;
  }
  
  // Forms
  
  .simple_form
  {
    margin: 10px 0px;
    
    .input
    {
      position: relative;
      margin: 2px 0px;
      background: #efefef;
      padding: 10px 0px;
      padding-left: 120px;
      @include border-radius(3px, 3px);
      
      &:nth-child(even)
      {
        background: #f7f7f7;
      }
      
      &.field_with_errors
      {
        background: #ffe9e9;
      }
    }
    
    label
    {
      position: absolute;
      left: 0px;
      width: 100px;
      color: #555;
      margin: 0px 10px;
      font-weight: bold;
      font-size: 11px;
      line-height: 21px;
      text-align: right;
    }
    
    span.hint, span.error
    {
      display: block;
      color: #777;
      font-size: 11px;
      line-height: 2em;
    }
    
    span.error
    {
      display: block;
      color: #900;
      font-weight: bold;
    }
    
    // Inputs
    
    input.string, input.password
    {
      padding: 3px 5px;
      font-size: 12px;
    }
    
    .input.boolean
    {
      label
      {
        position: relative;
        text-align: left;
        width: auto;
        margin: 1px;
      }
    }
  }
  
  // Attributes
  
  .attrs
  {
    overflow: hidden;
    
    .attr
    {
      position: relative;
      padding: 5px 0px;
      padding-left: 120px;
      line-height: 2em;
      background: #f7f7f7;
      margin: 2px 0px;
      min-height: 30px;
      @include border-radius(3px, 3px);
      
      label
      {
        position: absolute;
        left: 0px;
        width: 100px;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
        color: #666;
      }
      
      &:nth-child(even)
      {
        background: #efefef;
      }
    }
  }
  
  // Buttons
  
  .buttons
  {
    clear: both;
    margin: 15px 0px;
    overflow: hidden;
  }
  
  .button
  {
    display: block;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    padding: 7px 12px;
    border: 1px solid #982c39;
    @include border-radius(4px, 4px);
    @include single-box-shadow(#999, 0px, 1px, 2px);
    @include single-text-shadow(#222, 0px, 1px, 0px);
    @include linear-gradient(color-stops(#f16c7c, #bf404f));
    
    &:hover
    {
      @include linear-gradient(color-stops(#ff5369, #bf404f));
    }
  }
  
  a.button
  {
    margin: 2px;
  }
  
  .button.dark
  {
    border-color: #545454;
    @include linear-gradient(color-stops(#939393, #6c6c6c));
    &:hover
    {
      @include linear-gradient(color-stops(#aaa, #6c6c6c));
    }
  }
  
  // Centered items (images)
  
  table.centered
  {
    height: 1px;
    text-align: center;
    td { text-align: center; }
  }
  
  // Detail Image
  .detail-image
  {
    float: left;
    margin: 0px 10px 10px 0px;
    img
    {
      border: 1px solid #555;
      @include single-box-shadow(#666, 0px, 1px, 2px);
    }
  }
  
}