h1, h2{
  margin:0 0 10px 0;
  font-weight:normal;
}

ul li{
  margin-bottom:10px;
}

#intro {
  font-size: 14px;
  font-family: "Museo700";
  font-weight: 300;
  margin: 40px auto 40px auto;
  min-height:350px;
}

p.bookmarklet-para {
  margin-top: 10px;
}