#upload-from-web {
  display: none;
}


.user-details {
  margin: 0px 0px 35px 20px;
  padding-top: 60px;
  color: #4e3227;
}

.user-item-list {
  h2 {
    color: #4f3129;
    margin-bottom: 15px;
  }
}

.user-activity-feed {
  h2 {
    color: #4f3129;
    margin-bottom: 15px;
  }
  ul {
    li {
      list-style-type: none;
      margin-top: 10px;
    }
  }
}

