@import "style";

.show-topic, .bg-white, .edit-page {
  background-color: white;
}

.edit-page {
  background-color: white;
  padding:30px;
  
  h3{
    margin-bottom:10px;
  }
  
  .image-holder{
    margin-left:0 !important;
  }
  .image-holder  a.image{
    width:100px !important;
    height:100px !important;
  }
  
  .image-selector .image-holder .next{
    margin-left:45px
  }
}

.show-topic {

  .topic-links {
    ul {
      list-style: none;
      padding-left: 40px;
      margin-top: 0px;
    }

    li {
      float: left;
      margin: 0px 5px;
    }

    #home-link {
      height: 32px;
      width: 88px;
      background: image-url("details-page-buttons.jpg") no-repeat scroll -21px -17px;
      &:hover { background-position: -110px -17px; }
    }

    #edit-topic {
      height: 32px;
      width: 88px;
      background: image-url("details-page-buttons.jpg") no-repeat scroll -199px -17px;
      &:hover { background-position: -288px -17px; }
    }

    #delete-topic {
      height: 32px;
      width: 88px;
      background: image-url("details-page-buttons.jpg") no-repeat scroll -377px -17px;
      &:hover { background-position: -466px -17px; }
    }
  }

  .topic-image {
    width: 256px;
    height: 219px;
    padding: 15px;
    margin-bottom: 30px;
    img {
      display: block;
      margin: auto;
    }
  }

  .topic-subject {
    font-weight: bold;
    font-size: 27px;
    color: #4e3227;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 27px;
  }

  .topic-url, .topic-tags {
    word-wrap: break-word;
    span {
      font-size: 1.1em;
    }
    a {
      padding: 0px 3px 0px 3px;
    }
  }

  .topic-price {
    color: #849C60;
    font-size: 40px;
    float: right;
    margin-right: 18px;
  }

  .share-topic-link, .topic-votes {
    font-size: 17px;
    color: #4e3227;
  }

  .topic-comment-entry {
    .username {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .comment-hr{
    border-top-color:#e5d6c6;
  }
  #new_comment {
    textarea {
      width: 98%;
      @include box-shadow(0 0 0 4px #f6f3ee);
      resize:none;
    }

    input[type='submit'] {
      float: right;
      height: 32px;
      width: 92px;
      border: none;
      background: image-url("details-page-buttons.jpg") no-repeat scroll -555px -18px;
      &:hover { background-position: -648px -18px; }
    }
  }
}


.email-icon, .twitter-icon, .facebook-icon {
  width: 37px;
  height: 37px;
}

.email-icon {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1104px -16px;
  &:hover { background-position: -1218px -16px; }
}

.twitter-icon {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1142px -16px;
  &:hover { background-position: -1256px -16px; }
}

.facebook-icon {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1181px -16px;
  &:hover { background-position: -1295px -16px; }
}


#emailed {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1333px -16px;
  &:hover { background-position: -1447px -16px; }
}

#tweeted {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1371px -16px;
  &:hover { background-position: -1485px -16px; }
}

#recommended {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -1409px -16px;
  &:hover { background-position: -1523px -16px; }
}


.topic-vote-yes-icon, .topic-vote-no-icon, .topic-recommend-yes-icon, .topic-recommend-no-icon {
  width: 90px;
  height: 34px;
}

.topic-vote-yes-icon, .topic-recommend-yes-icon {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -923px -15px;
  &:hover { background-position: -1014px -15px; }
}

.topic-vote-no-icon, .topic-recommend-no-icon {
  background: image-url("details-page-buttons.jpg") no-repeat scroll -741px -15px;
  &:hover { background-position: -832px -15px; }
}

.topic-form-wrapper {
  padding: 20px;
  margin: 60px 0px 20px 20px;
  label,input,button,select,textarea {
    font-size: 18px;
    color: #4e3227;
  }

  label {
    margin-bottom: 10px;
  }

  input[type='text'],input[type='url'] {
    width: 300px;
    height: 25px;
  }

  input[type='number'] {
    height: 25px;
    width: 80px;
  }

  textarea {
    width: 300px;
    height: 100px;
  }
  div.control-group {
    margin: 32px 0px 20px 0px;
  }
}

.topic-subject {
  position: relative;
}

.topic-search-link {
  position: absolute;
  top: 30px;
  right: 12px;
  background: url("/assets/search_button.png");
  background-position: 0px 31px;
  width: 81px;
  height: 31px;
  &:hover {
    background: url("/assets/search_button.png");
    background-position: 81px 31px;
  }
}

.topic-tabs {
  margin-left: -4px;
  margin-bottom: 0px;
  border-bottom: none;
  
  li {
    height: 45px;
    width: 180px;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 6px;
    margin-left: 3px;
    border:1px solid #cd383f;
    @include gradient(#df646c, #aa383c);
    @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
    
    &:hover {
      @include gradient(#bf3c42, #841c21);
      @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
      border:1px solid #b73d44;
    }
    
    &:active {
      background: #841c21;
    }
    
    a {
      font-size: 18px;
      color: #fff;
      margin-top: 6px;
      background:none;
      box-shadow: none;
      border: none;
    
      &:hover {color: #fff;background:none;}
    }
  }
  li.active {
    background: #fff;
    border:1px solid #fff;
    box-shadow: none;
    
    a {
      border: none;
      
      &:hover{
        background: none;
        border: none;
      }
    }
  }
  
}

.topic-tabs li.active:hover {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: none;
}

#details {
  background: #fff;
  margin-left: -1px;
  padding-bottom:20px;
  position:relative;
  min-height:400px;
}

ol.topics {
  padding: 30px 0 0 0;
  margin:0;
  
  li {
    display: block;
    border-bottom: 1px solid #cacaca;
    margin: 20px 35px;
    padding-bottom: 20px;
  }
  .topic-title {
    font-size: 1.3em;
    font-weight: bold;
    a {
      color: #4e3227;
    }
  }
  .topic-url {
    word-wrap: break-word;
    margin-top: 10px;
  }
  .topic-description {
    margin-left: 10px;
  }

  .topic-listing-tag {
    margin: 10px 0px 10px 0px;
    a{
      padding: 0px 3px 0px 3px;
    }
  }

  div.price {
    margin-top: 30px;
    color: #879d6c;
    float: right;
    font-size: 2.8em;
  }
  h2 {
    color: #4e3227;
  }
}

.topic-meta > span {
  color: #ABABAB;
}


.topic-details {
  margin-right: 24px;
  margin-left: 46px;
}

.span2.item-list-image {
  text-align: center;
  img {
    padding: 5px;
  }
}

.topic-actions {
  float: right;
  margin-bottom: 20px;
  background: url("/assets/close_buttons.png");
  background-position: right top;
  width: 26px;
  height: 28px;
  
  &:hover {
    background-position: left top;
    text-decoration:none;
  }
}

.topic-list-actions {
  margin-top: 10px;
}

#gsearch-results {
  margin: 77px 30px 5px 0px;
  padding: 0px 20px 5px 0px;
  height:455px;
  overflow-y:auto;
}

.add-topic-link {
  float: right;
  margin: 10px 33px 20px 0px;
}



/* Topic Input Type Style */

.share-view{
  margin:0 40px 40px 40px;
  
  h3{
    font-size:25px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin:0 0 20px 0;
  }
}

.mini .nav-tabs > li > a {
  font-size:14px;
  line-height:30px;
}

.mini .nav-tabs {
  margin-bottom:0
}

@mixin label-group{

  label{
    font-size:14px;
    float:left;
    margin-top:5px;
    margin-right:10px;
  }
}

#share-csv, #share-list, .mini-container{
  border:1px solid #ddd;
  border-top:none;
  padding:20px;
  margin-bottom:20px;
}

#share-csv, #share-list, .mini-container, .gen-detail{ 
  @include label-group;
}

.gen-detail{ 
  @include label-group;
  
  label{
    width:90px;
  }
  
  .btn-marg{
    margin-left:150px;
  }
  
  .control-group{
    clear:both;  
  }
}



.drop-files{
  background-color: #F5F5CD;
  border: 2px dashed #D4C7BE;
  height: 80px;
  margin-top: 10px;
  
  h1, p{
    font:bold 14px arial;
    text-align:center; 
  }
  h1{
    font-size:20px;
    margin-top:20px;
  }
}
.upload-files{
  text-align: center;
  padding: 35px 0 45px 0;
}
.topic-form-wrapper{

  input[type="text"], input[type="number"], input[type="url"], select, textarea{
    @include box-shadow(0 0 0 4px #f6f3ee);
  }
  textarea{
    resize:none;
  }
}

@mixin brand-btn {
  color: #fff;
  @include gradient(#e26b71, #aa373c);
  @include text-shadow(none);
  border-style: solid;
  border-width: 1px; 
  border-color: #cd383e #ba2f34 #a9262c #ba2f34;
}

@mixin brand-btn-hover {
  color: #ffffff;
  @include gradient(#e26b71, #a9262c);
}

.btn-red, .remove_fields, .add_fields {
  @include brand-btn;
  text-decoration:none;
  font:15px/100% 'Museo500', arial;
  @include border-radius(5px);
  padding: 8px 10px;
  min-width:60px;
}

.btn-red:hover, .btn-red:active, .btn-red.active, .btn-red.disabled, .btn-red[disabled],
.remove_fields:hover, .remove_fields:active, .remove_fields.active, .remove_fields.disabled, .remove_fields[disabled],
.add_fields:hover, .add_fields:active, .add_fields.active, .add_fields.disabled,.add_fields[disabled] {
  text-decoration:none;
  @include gradient(#bf3c42, #841c21);
  @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
  border:1px solid #b73d44;
  color:#fff;
}

.btn-red:active,
.remove_fields:active,  
.add_fields:active {
  background: #841c21;
}

.btn-red.small{
  padding: 4px 10px;
}

.input.m-all0{
  margin:0;
}

#share-list .nested-fields{
  height: 85px;
}

.remove_fields{
  margin-left:48px;
}
.remove_fields, .add_fields {
  @include border-radius(3px);
  padding: 4px 10px;
  min-width:95px;
  
  &:hover{
    text-decoration:none;
    @include gradient(#e26b71, #a9262c);
  }
  &:active{
    text-decoration:none;
    @include box-shadow(inset 0 0 5px 0 rgba(0,0,0,0.5));
  }
}
#share-list .links{
  position: relative;
  top: -39px;
  left: 135px;
}
.reset-btn{
  margin:30px 40px 40px 0;
}




.btn-red-large, .btn-red-l{
  position:absolute;
  right:40px;
  bottom:85px;
  
  .btn {
    @include brand-btn;
    font:300 23px/1 'Museo500', arial;
    text-transform: uppercase;
    min-width: 120px;
  }
  
}

.btn-red-large, .btn-red-l, .remove_fields, #share-list a{ 
  
  .btn {
    @include brand-btn;
    font:normal 16px/1 'Museo500', arial;
    padding: 8px 11px 9px 11px;
    display: block;
    min-width: 70px;
  }
  
  .btn:hover,
  .btn:active,
  .btn.active,
  .btn.disabled,
  .btn[disabled] {
    @include gradient(#bf3c42, #841c21);
    @include box-shadow( inset 0 1px 0 rgba(255,255,255,0.25));
    border:1px solid #b73d44;
    color:#fff;
  }
  
  .btn:active,
  .btn.active {
    background: #841c21;
  }  
}
.btn-red-l{
  position:static;
}

/* CSS For Right Container*/

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}
.wraptocenter * {
    vertical-align: middle;
}
.wraptocenter span {
    *display: inline-block;
    *height: 100%;
}
#topic_tags {
  margin: 0px 0px 20px 0px;
  border: none;
}
.clear {
  clear:both;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.topic-tag-list {
  margin: 50px 0px 0px 10px;
  h2 { 
    font-size: 1.5em;
    text-shadow: 1px 2px 0px rgba(255,255,255,0.8);
  }
  ul {
    margin: 1px 0px 0px 5px;
    li {
      list-style: none;
      margin: 9px 0px 0px 0px;
      a {
        color: #4e3227;
      }
    }
  }
}

abbr[title] {
cursor: default;
border-bottom: none;
}

.topic-page{
  
 .topic-tabs{
   display:none
 }
  
  .topics{
    padding-top:20px
  }
}


.vote-percentages > span {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 12px;
  padding-right: 12px;

  background-color: #F7F7F7;
  cursor: pointer;
  width: 98px;
  text-align: center;
  float: left;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 20px 5px 0px;
  &:hover {
    background-color: #eeeeee;
  }
}

div.percentage {
  margin-top: 10px;
  font-size: 2em;
}

span.yes-votes {
  color: #167f07;
}

span.no-votes {
  color: #b35158;
}

.bargin {
  input {
    margin-top: 10px;
  }
}
.topic-votes-and-deals {
  margin-left: 40px;
  width: 90%
}

#add-to-mightbuy {
  margin-top: 43px;
  a {
    margin-left: 68px
  }
}


#email-share-fields {
  .btn-red {
    padding: 6px 10px;
  }

  .remove-email {
    i {
      margin-top: 5px;
    }
  }
}

.topic-poster-prompt {
  font-size: 2.1em;
  margin-left: 67px;
  font-weight: bold;
}
.may-buy {
  margin-right: -32px;
}
