// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "style";
.welcomes-content {
  font-family: Museo500;
  margin-top: 70px;
  text-shadow: 1px 2px 0px #FCF8F5;
  padding-bottom: 10px;

  .welcome-description {
    margin-bottom: 35px;
    font-size: 18px;
    color: #4E3227;

    h2 {
      font-family: Museo700;
      font-size: 28px;
      font-weight: 300;
    }

    p {
      width: 430px;
      line-height: 24px;
      margin: 10px 0px;

      img {
        margin: -10px 5px 0px 0px;
      }
    }

    p.first-point {
      margin-top: 20px;
    }

    p.last-point {
      margin-bottom: 20px;
    }
  }

  .tryitnow {
    height: 56px;
    width: 250px;
    margin-left: -10px;
    background: image-url("tryitnow.png") no-repeat;

    &:hover {
      background: image-url("tryitnow-hover.png") no-repeat;
    }
  }

  .mac-iphone-image {
    background: image-url("iphone.png") 93% 93% no-repeat, image-url("mac-screen.png") right bottom no-repeat;
    height: 417px;

    #iphone-bubble {
      float: right;
      margin-top: 130px;
      margin-right: -56px;
    }

    .slider-links {
      list-style: none;
      padding-top: 150px;
      padding-left: 230px;

      li {
        display: inline;
        margin: 0px 2px;
      }
    }
  }
}

.public-search-results {
  background: #fff;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  min-height: 400px;
  padding: 40px 40px 0 40px;
  position: relative;
  margin-top:20px;
}

#public-search-form{
  margin:15px 0 0 5px;
  
  #q{
    @include box-shadow(0 0 0 5px rgba(0,0,0,0.10));
    @include border-radius(3px 3px 3px 3px);
    background-color: white;
    border: 1px solid #ccc;
    height: 25px;
    width: 450px;
    color: #4E3227;
    font-size: 18px;
    line-height: 18px;
    padding: 4px;
  }
  #q:focus{
    @include box-shadow(0 0 0 5px rgba(0,0,0,0.10));
    border-color:rgba(82, 168, 236, 0.8);
    outline:none;
  }
  
  .btn-green{
    @include border-radius(2px);
    position: relative;
    top:0px;
    right: 151px;
    padding: 7px 15px;
  }
}
.search-items{
  .header #mightbuy-logo {
    margin-top: 20px;
  }
  .header .caption {
    display:none
  }
}
.top-nav-links{
  margin-top:15px;
  font-size:15px;
  font-family: 'Museo500';
  
  a{
    color:#4E3227;
    padding:0 15px;
  }
}
.public-search-result td{
  vertical-align:top;
  font-family: "Museo500";
  border-top:1px solid #ccc;
  padding-top:30px;
  padding-bottom:20px;
  
  a.title{
    font-size: 27px;
    font-weight: normal;
    line-height: 110%;
    display:block;
    margin-bottom:10px;
  }
  .url{
    padding-top:10px;
    margin-bottom:20px
  }
  .price {
    color: #849C60;
    float: right;
    font-size: 40px;
    margin-right: 25px;
    
    i{
      font-size: 20px;
      color:#666;
    }
  }
}
.public-search-result:first-child td{
  padding-top:0;
  border:none;
}
.modal-header-bg{
  background-color:#e4d6c7
}
