= heading "General Details"

= form.input :category, :label => "You Are A", :collection => User::Categories, :as => :radio
= form.input :name, :label => "Your Name"
= form.input :photo, :as => :file, :label => "Your Photo"
= form.input :description, :label => "Description", :hint => "Tell everyone who you are & what you do!", :input_html => { :maxlength => 150 }

= heading "Social Details"

= form.input :url, :label => "Web"
= form.input :facebook, :label => "Facebook"
= form.input :twitter, :label => "Twitter"
= form.input :phone, :label => "Phone"